# Postgres
POSTGRES_USER=energy
POSTGRES_PASSWORD=energy
POSTGRES_DB=energy
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Prefect
PREFECT_API_URL=http://prefect-server:4200/api

# Pipeline
EUETS_SOURCE_URL=https://www.eea.europa.eu/en/datahub/datahubitem-view/9d04d6c1-d8cf-44ff-aa5e-c1c5f8c7c9de
USE_LOCAL_FALLBACK=true
LOCAL_SAMPLE_PATH=/app/warehouse/seed/euets_sample.csv

# dbt
DBT_PROFILES_DIR=/app/dbt_project
DBT_TARGET=dev
